<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="se.ju.student.andoidproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndoidProject"
        tools:ignore="AllowBackup">
        <activity android:name=".MemoryViewActivity"></activity>
        <activity android:name=".SingleRow" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="edu.stanford.rkpandey.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".UpdateMemoryActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".CreateMemoryActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".VerifyAccountActivity" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".SupportTicketActivity" />
        <activity android:name=".AboutUsActivity"/>
        <activity android:name=".ChangePasswordActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>